:root {
  --background: #101010;
  --total-white: #fff;
  --background-table: rgba(82, 59, 126, 0.6);
  --total-black: #000;

  --white: #fbfbfb;
  --white-60: rgba(255, 255, 255, 0.6);

  --icon-violet: #734aef;

  --button-gradient: linear-gradient(
    97deg,
    #ffc727 -16.42%,
    #9e40ba 97.04%,
    #7000ff 150.71%
  );

  --header-color: linear-gradient(270deg, #2e1746 3.2%, #2e225f 99.98%);
  --header-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);

  --transparency-10: rgba(255, 255, 255, 0.1);
  --transparency-20: rgba(255, 255, 255, 0.2);
  --transparency-40: rgba(255, 255, 255, 0.4);
  --transparency-60: rgba(255, 255, 255, 0.6);

  --yellow: #ffb627;
  --dashboard-text: #ff868d;
  --button-text-color: #623f8b;

  --red: #ff0000;
  --picker: #4a56e2;
  --menu-list: #bdbdbd;
  --menu-background: linear-gradient(
    360deg,
    rgba(83, 61, 186, 1) 0%,
    rgba(80, 48, 154, 1) 35.94%,
    rgba(106, 70, 165, 1) 61.04%,
    rgba(133, 93, 175, 1) 100%
  );
  --control-background: rgba(74, 86, 226, 0.1);
  --backdrop: rgba(34, 13, 91, 0.23);
  --modal-gradient: radial-gradient(#3f2e96, #5f478c);
  --black25: rgba(0, 0, 0, 0.25);
  --grey: #aca7bd;
}
